@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cta {
  background-image: url(../img/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 640px) {
  .bg-cta {
    background-image: url(../img/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.open .hamburger-top {
  transform: rotate(45deg) translate(5px, 5px);
  transition: all 0.5s;
}
.open .hamburger-middel {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg);
  transition: all 0.3s;
}
.out {
  transform: translateY(-150%);
}
.slide {
  transform: translateY(0);
}
